@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
$font-family: "Raleway", sans-serif;
$fontColor: #bfbfbf;

.fontStyle {
    font-family: $font-family;
    color: $fontColor;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/vue-form-validate/src/assets/BG.jpg);
    background-size: cover;
    padding-top: 20px;
}

.form-wrapper {
    width: 100%;

    .success-alert
    {
        width: 100%;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .alert-text {
            margin-bottom: 15px;
            @extend .fontStyle;
            font-size: 30px;
        }
    }

    @media screen and (max-width: 920px) {
        width: 80%;
    }

    @media screen and (max-width: 700px) {
        padding: 20px 50px;
    }

    @media screen and (max-width: 436px) {
        padding: 20px 20px;
    }

    max-width: 600px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border: 1px solid #000000;
    padding: 20px 80px;
    border-radius: 5px;
    box-sizing: border-box;

    .form {
        width: 100%;
        .main-info,
        .adress-wrapper,
        .passport-wrapper {
            display: flex;
            flex-direction: column;
        }

        .radio-wrapper,
        .input-wrapper,
        .selector-wrapper {
            margin-bottom: 18px;
        }

        .form-group-title {
            color: #2392a0;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .form-label {
            @extend .fontStyle;
            margin-bottom: 3px;
        }

        input,
        select {
            border-radius: 4px;
            padding: 10px;
            border: 1px solid grey;
            @extend .fontStyle;
            background-color: #1f1f1f;
        }

        input:hover,
        select:hover {
            border-color: #2392a0;
        }

        .selector-wrapper {
            display: flex;
            flex-direction: column;

            .client-group-wrapper {
                display: flex;
                @media screen and (max-width: 637px) {
                    flex-direction: column;
    
                    p:first-child {
                        margin-left: 0px;
                    }
    
                    .form-label {
                        margin-bottom: 8px;
                    }

            }

            p {
                margin-left: 15px;
            }

            .selectors {
                display: flex;
            }

            
            }
        }

        .radio-input-label {
            @extend .fontStyle;

            @media screen and(max-width: 365px) {   
                font-size: 13px;

            }
        }

        hr {
            border: none;
            background-color: #bfbfbf;
            height: 1px;
            margin: 20px 0;
        }

        .error-text {
            color: red;
        }

        .input-wrapper {
            @extend .d-flex-column;
        }

        .radio-wrapper {
            display: flex;

            *:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.error {
    border: 1px solid red;
}

.submit-btn,
.alert-button {

    @media screen and(max-width: 550px) {
        width: 150px;
    }

    width: 200px;
    font: 800 16px $font-family;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #19c1d5;
    transition: 0.5s;
}

.submit-btn:hover,
.alert-button:hover {
    cursor: pointer;
    background-color: #2392a0;
}

.red-text {
    color: red;
}
